body{
    padding: 30px 50px 50px 0px;
    background-color: rgb(249, 247, 247);
    overflow-y: hidden;
}

.header{
    font-size: 60px;
}

.bug-bg{
    background-image: url("../../Images/backDrop.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.login-section{
    outline-width: 5px;
    width: 650px;
    height: 800px;
    margin-top: 150px;
}

.login-input-section{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 1000;
    padding: 1.5em 2.5em;
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 57%;
}

.login-flex-section{
    margin-bottom: .7em;
}

.input-field{
    margin: 1em 0;
    border-radius: 30px;
    height: 50px;
}

.login-button{
    width: 100%;
    height: 50px;
}

.remember-me-text{
    margin: auto .3em;
}

.forgot-password-text{
    text-decoration: underline;
    color:rgba(150, 0, 0, 0.85);
    text-decoration-color: rgba(150, 0, 0, 0.85);
}

.main-page-section{
    padding: 120px;
    display: flex;
    justify-content: space-between;
}

.text-section-info{
    width: 450px;
    height: 100px
}

.text-section-about h3{
    font-size: 40px;
}
.text-section-about p{
    font-size: 30px;
}
