.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 0 20px;
}

.bug-bg{
    background-image: url("../Images/backDrop.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.top-bar {
    background-color: rgba(64,76,92); 
    color: white; 
    text-align: left;
    display: flex;
    justify-content: flex-end; 
    width: 100%; 
}

.top-bar h1 {
    margin: 0; 
    line-height: 50px;
    text-align: right;
    padding-right: 1030px;
    font-size: 15px;
}

.FAQ {
    text-align: center;
}

.FAQ h1 {
    color: white;
    padding-top: 35px;
    margin: 0; 
}

.accordion-item {
    border-bottom: none;
    margin-bottom: 20px;
}

.accordion-title {
    background-color: rgba(249, 249, 249, 0.8); 
    color: #333;
    cursor: pointer;
    padding: 15px;
    font-weight: bold;
    border-radius: 10px; 
}

.accordion-content {
    display: none;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.accordion-item.active .accordion-content {
    display: block;
}