.graph-container {
  width: 80vw;
  max-width: 600px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(43, 39, 39, 0.956);
  overflow: hidden;
  cursor: pointer;
  padding: 24px;
  border: 2px solid white;
  box-shadow: 0 0 10px white;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,50px);
}

.graph{
  max-width: 90%; 
  min-width: 80%; 
  margin: 0 auto; 
  table-layout: fixed;
  border: 3px solid black;
  border-radius: 20px;
  padding: 10px;
  transition: transform 0.3s ease;
}

.graph:hover {
  transform: scale(1.05);
}

#dateInputContainer {
  display: flex;
  flex-direction: column;
}

.sub-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding: 20px;
  z-index: 1001;
  display: none;
  width: 80%;
  max-width: 800px;
  height: 80%;
  max-height: 600px;
  overflow-y: auto;
}

.sub-box.active {
  display: block;
}

.exit-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #777;
  transition: color 0.3s ease;
}

.exit-button:hover {
  color: #333;
}